.invocation-failed,  .test-failed  { background-color: #ff4444; }
.invocation-percent, .test-percent { background-color: #006600; }
.invocation-passed,  .test-passed  { background-color: #C2FFC2; }
.invocation-skipped, .test-skipped { background-color: #ffaa00; }
body  {font-family: Ubuntu, arial, sans-serif; line-height: 1.8em; font-size: 72.5%; margin: 1.8em 1em;}
.main-page {
  font-size: x-large;
}

